/* Reset styles */
img {
    max-width: 100%; /* Makes sure that the image does not overflow */
    height: auto; /* Ensures correct aspect ratio */
}

/* Exhibitor images */
.exhibitor img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* Ensures that the image fits inside the circle */
}
